.contactItem{
 display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  &:after{
    content: "";
    height: 1px;
    opacity: .2;
    width: 100%;
    background-color: #000;
    position: absolute;
    bottom: 0;
  }
  button{
  }
}
.name{
 font-weight: 500;
  font-size: 18px;
}
.number{
  font-size: 14px;
  font-weight: 500;
  opacity: .9;
}